{% extends "base.html" %}
{% block content %}
<h1>Recommendations</h1>
<div class="row">
    <div class="col-md-6">
        <h3>Total Calories Consumed</h3>
        {{ calories_chart|safe }}
    </div>
    <div class="col-md-6">
        <h3>Total Proteins Consumed</h3>
        {{ proteins_chart|safe }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Total Carbohydrates Consumed</h3>
        {{ carbs_chart|safe }}
    </div>
    <div class="col-md-6">
        <h3>Total Sugars Consumed</h3>
        {{ sugars_chart|safe }}
    </div>
</div>
{% for disease, foods in recommendations.items() %}
    <h3>Disease: {{ disease }}</h3>
    {% for nutrient, food_list in foods.items() %}
        <h4>Nutrient Deficiency: {{ nutrient }}</h4>
        {% if food_list %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Food</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                {% for food in food_list %}
                <tr>
                    <td>{{ food['Composite Description (TDS_FC_Label)'] }}</td>
                    <td>{{ food.values() | list | last }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No data available for {{ nutrient }}.</p>
        {% endif %}
    {% endfor %}
{% endfor %}
{% endblock %}
        